@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* @font-face {
    font-family: myFirstFont;
    src: url('../miama/Miama.ttf')  format('truetype');
  } */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin: 0 auto; */
    /* max-width: 1440px; */
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Inter", sans-serif;
    /* font-size: 1em; */
}

/* Nav bar styles start here */
.nav-bar{
    max-width: 1060px;
    padding-top: 57px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name h2{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-bar-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

}

.hamburger{
    display: none;
}

.nav-bar-options p{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.nav-bar-options button{
    background: rgb(230, 83, 60);
    border-radius: 44px;
    padding: 7px 18px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    border: none;

}

/* banner section styles start here  */
.hero-banner-container{
    padding-top: 36px;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
}

.banner-description-content{
    margin: 61.5px 30px 76px 0px;
}

.banner-description-content h1{
    font-size: 4.9rem;
    font-weight: 900;
    text-align: left;
}

.banner-description-content h1 span{
    /* font-family: miama; */
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Miama', cursive; */
    /* font-family: myFirstFont; */
    /* font-size: 5rem; */
    font-weight: 400;
}

.banner-description-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: normal;
}
.btn-0{
    display: flex;
}

.btn-1{
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    font: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    cursor: pointer;
}

.btn-2{
    margin-left: 1rem;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    font: 1.1rem;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-top: 20px;
    cursor: pointer;
}

.banner-image-content{
    margin: 0px 24px 0px 200px;
    position: relative;
}

.banner-image-content img{
    width: 100%;
}

.section-500{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 150px;
    top: 40px;
}

.section-500 h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 17px 53px 5px 24px;
}

.section-500 p{
    padding: 0px 23px 16px 24px;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

.section-350{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 206px;
    height: 96px;
    left: -150px;
    top: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-350 button{
    height: 40px;
    width: 40px;
    background: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 50%;
    margin: 28px 12px 28px 23px;
}

.section-350 h3{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
    padding: 20px 40px 8px 0px;
}

.section-350 p{
    padding: 0px 23px 20px 0px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

/* Change your habit section styles */
.habit-section-container{
    max-width: 1044px;
    margin: 100px auto;
}

.habit-title,
.run-an-extra-mile-title,
.our-team-title{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.habit-description{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    margin-bottom: 58px;
}

.habit-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.habit-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-card img{
    border-radius: 50%;

}

.habit-card h6{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    margin: 30px 0px 6px;
}

.habit-card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}

/* Run an Extra Mile Easily section styles start here */

.run-an-extra-mile-container{
    max-width: 1060px;
    height: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background: rgb(34, 34, 34);
    align-items: center;
    padding: 30px;

}

.run-an-extra-mile-content{
    max-width: 440px;
    padding-top: 50px;
}
.run-an-extra-mile-img{
    max-width: 366px;
    /* height: 312px; */
}
.run-an-extra-mile-img img{
    width: 100%;
    height: auto;
    border-radius: 18px;
}
.align-left{
    text-align: left;
}

.run-an-extra-mile-description,
.our-team-description{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;

}
.top-margin{
    margin-top: 34px;
}

/* BMI Calculator section styles */
.bmi-calculator-container{
    max-width: 670px;
    margin: 100px auto;
}

.bmi-calculator-title{
    font-size: 3rem;
    font-size: 900;
}
.bmi-calculator-description, .bmi-form-description{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
}

.bmi-chart-form-container{
    background: rgb(34, 34, 34);
}

.bmi-chart-form-content{
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 180px;
}
.bmi-chart-title, .bmi-form-title{
    font-size: 1.25rem;
    font-size: 900;
    margin-bottom: 50px;
}

.bmi-chart-table{
    width: 310px;
}
.bmi-chart-table table{
    border-collapse: collapse;
    width: 100%;
}
.bmi-chart-table table  th, table td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px;
    text-align: left;
}

table th{
    font-size: 1rem;
    font-weight: 500;
}

table td{
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


form{
    margin-top: 30px;
}

.group-1, .group-2, .group-3{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;    
}

.group-1 > input, .group-2 > input, .group-2 > select, .group-3 > select{
    width: calc((100% - 12px)/2);
    padding: 12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

.group-3 > select{
    width: 100%;
}


/* Meet Our Team Section styles */
.our-team-container{
    max-width: 1060px;
    margin: 88px auto;
}

.our-team-content{
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 78px;
}

.our-team-description{
    text-align: center;
}

.our-team-profile-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    /* border: 2px solid red; */
    row-gap: 20px;
}
.team-profile-card{
    width: 325px;
    height: 270px;
    /* border: 2px solid blue; */
    position: relative;
}

.team-profile-card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

.t-name{
    position: absolute;
    left: 25px;
    top: 210px;
    /* border: 2px solid red; */
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.t-title{
    position: absolute;
    left: 25px;
    top: 230px;
    /* border: 2px solid red; */
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Footer section styles start here */
footer{
    background: rgba(255, 255, 255, 0.1);
}
.footer-container{
    max-width: 1060px;
    padding: 66px 0 79px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-text-content{
    max-width: 443px;
    height: auto;
}
.footer-text-content > p{
    width: 100%;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}

.brand{
    color: rgb(230, 83, 60);
    font-size: 4.4rem;
    font-weight: 800;
}

.footer-nav-container{
    max-width: 570px;
    height: auto;
}
.footer-nav-content{
    display: flex;
    column-gap: 150px;
}

.nav-item h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-item li{
    list-style: none;
    margin-top: 20px;
}

.nav-item li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-size: 400;

}

.hr-line{
    max-width: 1060px;
    margin: 0 auto;
}

.hr-line hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.hr-line > p{
    padding: 35px 0;
    text-align: center;
    font-size: 1rem;
    font-size: 400;
    color: rgba(255, 255, 255, 0.5);
}






/* @@@@@@@@@@@@@@@@@Media query for small device styles  */
@media screen and (max-width: 576px) {
    /* Nav and banner section media styles */
    .nav-bar-options{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav-bar{
        margin: 0px 20px;
    }
    
    .hero-banner-container{
        margin: 0px 20px 48px 20px;
        flex-direction: column;
    }
    .banner-description-content h1{
        font-size: 2rem;
    }
    .banner-description-content p{
        margin-top: 20px;
    }
    .btn-0{
        display: flex;
    }
    .banner-image-content{
        margin: 48px 20px 30px 20px;
    }

    .section-500{
        top: 20px;
        left: 200px;
    }

    .section-500{
        left: 190px;
        top: 50px;
    }
    .section-350{
        left: -20px;
        top: 230px
    }

    /* Change your habit section media styles */
    .habit-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Run an extra mile section media styles */
    .run-an-extra-mile-container{
        flex-direction: column;
        height: auto;
        margin: 0px 20px;
    }
    .btn-1{
        margin-bottom: 40px;
        width: 200px;
    }

    /*BMI Calculator section media styles  */

    .bmi-calculator-content{
        margin: 0 20px;
    }
    .bmi-chart-form-content{
        flex-direction: column;
        margin: 0 20px;
    }



    /* Meet Our Team Section media styles */
    .our-team-profile-cards{
        grid-template-columns: repeat(1, 1fr);
        /* height: auto; */
        margin: 0px 20px;
    }

    /* Footer section media styles start here */

    .footer-container, .footer-nav-content{
        flex-direction: column;
        margin: 0px 20px;
    }

    .nav-item > h3{
        margin-top: 20px;
    }

    .hr-line, .footer-text-content > p, .brand, hr{
        margin: 0px 20px;
    }

    .hr-line > p{
        margin: 0px 20px;
        text-align: left;
    }


}